@page
@model MentoringApp.Pages.Mentors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Mentor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mentor.FirstName" class="control-label"></label>
                <input asp-for="Mentor.FirstName" class="form-control" />
                <span asp-validation-for="Mentor.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.LastName" class="control-label"></label>
                <input asp-for="Mentor.LastName" class="form-control" />
                <span asp-validation-for="Mentor.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.Email" class="control-label"></label>
                <input asp-for="Mentor.Email" class="form-control" />
                <span asp-validation-for="Mentor.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.Phone" class="control-label"></label>
                <input asp-for="Mentor.Phone" class="form-control" />
                <span asp-validation-for="Mentor.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.Faculty" class="control-label"></label>
                <input asp-for="Mentor.Faculty" class="form-control" />
                <span asp-validation-for="Mentor.Faculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentor.Program" class="control-label"></label>
                <input asp-for="Mentor.Program" class="form-control" />
                <span asp-validation-for="Mentor.Program" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
