@page
@model MentoringApp.Pages.Matchmaking.MatchingModel

@{
    ViewData["Title"] = "Matching";
}

<h1>Making Matches</h1>
<h2>This could take a while. Please wait.</h2>

<div>
    <img src="~/images/loader.gif" alt="" />
</div>