@page
@model MentoringApp.Pages.Mentees.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Mentee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mentee.FirstName" class="control-label"></label>
                <input asp-for="Mentee.FirstName" class="form-control" />
                <span asp-validation-for="Mentee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.LastName" class="control-label"></label>
                <input asp-for="Mentee.LastName" class="form-control" />
                <span asp-validation-for="Mentee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.Email" class="control-label"></label>
                <input asp-for="Mentee.Email" class="form-control" />
                <span asp-validation-for="Mentee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.Phone" class="control-label"></label>
                <input asp-for="Mentee.Phone" class="form-control" />
                <span asp-validation-for="Mentee.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.Faculty" class="control-label"></label>
                <input asp-for="Mentee.Faculty" class="form-control" />
                <span asp-validation-for="Mentee.Faculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.Program" class="control-label"></label>
                <input asp-for="Mentee.Program" class="form-control" />
                <span asp-validation-for="Mentee.Program" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsGrad" class="control-label"></label>
                <input asp-for="Mentee.IsGrad" class="form-control" />
                <span asp-validation-for="Mentee.IsGrad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsInternational" class="control-label"></label>
                <input asp-for="Mentee.IsInternational" class="form-control" />
                <span asp-validation-for="Mentee.IsInternational" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsExchange" class="control-label"></label>
                <input asp-for="Mentee.IsExchange" class="form-control" />
                <span asp-validation-for="Mentee.IsExchange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsMature" class="control-label"></label>
                <input asp-for="Mentee.IsMature" class="form-control" />
                <span asp-validation-for="Mentee.IsMature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsTransfer" class="control-label"></label>
                <input asp-for="Mentee.IsTransfer" class="form-control" />
                <span asp-validation-for="Mentee.IsTransfer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsPathways" class="control-label"></label>
                <input asp-for="Mentee.IsPathways" class="form-control" />
                <span asp-validation-for="Mentee.IsPathways" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsIndigenous" class="control-label"></label>
                <input asp-for="Mentee.IsIndigenous" class="form-control" />
                <span asp-validation-for="Mentee.IsIndigenous" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsFirstGen" class="control-label"></label>
                <input asp-for="Mentee.IsFirstGen" class="form-control" />
                <span asp-validation-for="Mentee.IsFirstGen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.CountryOfOrigin" class="control-label"></label>
                <input asp-for="Mentee.CountryOfOrigin" class="form-control" />
                <span asp-validation-for="Mentee.CountryOfOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudentsInFaculty" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudentsInFaculty" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudentsInFaculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudentsCommute" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudentsCommute" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudentsCommute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudentsOnCampus" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudentsOnCampus" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudentsOnCampus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudentsOffCampus" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudentsOffCampus" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudentsOffCampus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudentsTransfer" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudentsTransfer" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudentsTransfer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudents21" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudents21" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudents21" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudentsInt" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudentsInt" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudentsInt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudentsClasses" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudentsClasses" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudentsClasses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudentsClubs" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudentsClubs" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudentsClubs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudentsIndigenous" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudentsIndigenous" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudentsIndigenous" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetOtherStudentsFirstGen" class="control-label"></label>
                <input asp-for="Mentee.MeetOtherStudentsFirstGen" class="form-control" />
                <span asp-validation-for="Mentee.MeetOtherStudentsFirstGen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.WorksHard" class="control-label"></label>
                <input asp-for="Mentee.WorksHard" class="form-control" />
                <span asp-validation-for="Mentee.WorksHard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.Thoughtful" class="control-label"></label>
                <input asp-for="Mentee.Thoughtful" class="form-control" />
                <span asp-validation-for="Mentee.Thoughtful" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.AppreciatesNature" class="control-label"></label>
                <input asp-for="Mentee.AppreciatesNature" class="form-control" />
                <span asp-validation-for="Mentee.AppreciatesNature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.HelpsOthers" class="control-label"></label>
                <input asp-for="Mentee.HelpsOthers" class="form-control" />
                <span asp-validation-for="Mentee.HelpsOthers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.QuickToTrust" class="control-label"></label>
                <input asp-for="Mentee.QuickToTrust" class="form-control" />
                <span asp-validation-for="Mentee.QuickToTrust" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.EnjoysDiscovering" class="control-label"></label>
                <input asp-for="Mentee.EnjoysDiscovering" class="form-control" />
                <span asp-validation-for="Mentee.EnjoysDiscovering" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.HandlesStressWell" class="control-label"></label>
                <input asp-for="Mentee.HandlesStressWell" class="form-control" />
                <span asp-validation-for="Mentee.HandlesStressWell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsAthletic" class="control-label"></label>
                <input asp-for="Mentee.IsAthletic" class="form-control" />
                <span asp-validation-for="Mentee.IsAthletic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.DoesWhatTheyWant" class="control-label"></label>
                <input asp-for="Mentee.DoesWhatTheyWant" class="form-control" />
                <span asp-validation-for="Mentee.DoesWhatTheyWant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.RespectsTraditions" class="control-label"></label>
                <input asp-for="Mentee.RespectsTraditions" class="form-control" />
                <span asp-validation-for="Mentee.RespectsTraditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.NeedsQuietTime" class="control-label"></label>
                <input asp-for="Mentee.NeedsQuietTime" class="form-control" />
                <span asp-validation-for="Mentee.NeedsQuietTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.MeetsResponsibilities" class="control-label"></label>
                <input asp-for="Mentee.MeetsResponsibilities" class="form-control" />
                <span asp-validation-for="Mentee.MeetsResponsibilities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.UnderstandScienceMath" class="control-label"></label>
                <input asp-for="Mentee.UnderstandScienceMath" class="form-control" />
                <span asp-validation-for="Mentee.UnderstandScienceMath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.LivesInHarmony" class="control-label"></label>
                <input asp-for="Mentee.LivesInHarmony" class="form-control" />
                <span asp-validation-for="Mentee.LivesInHarmony" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsCheerful" class="control-label"></label>
                <input asp-for="Mentee.IsCheerful" class="form-control" />
                <span asp-validation-for="Mentee.IsCheerful" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.IsReserved" class="control-label"></label>
                <input asp-for="Mentee.IsReserved" class="form-control" />
                <span asp-validation-for="Mentee.IsReserved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.KeepsRoomTidy" class="control-label"></label>
                <input asp-for="Mentee.KeepsRoomTidy" class="form-control" />
                <span asp-validation-for="Mentee.KeepsRoomTidy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.GenderIdentity" class="control-label"></label>
                <input asp-for="Mentee.GenderIdentity" class="form-control" />
                <span asp-validation-for="Mentee.GenderIdentity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.SexualOrientation" class="control-label"></label>
                <input asp-for="Mentee.SexualOrientation" class="form-control" />
                <span asp-validation-for="Mentee.SexualOrientation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.RacialIdentity" class="control-label"></label>
                <input asp-for="Mentee.RacialIdentity" class="form-control" />
                <span asp-validation-for="Mentee.RacialIdentity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.Religion" class="control-label"></label>
                <input asp-for="Mentee.Religion" class="form-control" />
                <span asp-validation-for="Mentee.Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.Languages" class="control-label"></label>
                <input asp-for="Mentee.Languages" class="form-control" />
                <span asp-validation-for="Mentee.Languages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mentee.CanContact" class="control-label"></label>
                <input asp-for="Mentee.CanContact" class="form-control" />
                <span asp-validation-for="Mentee.CanContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
